/*No.01*/
.section1 .row li{
	padding:0;	
}
.section1 .row li>div{
	padding:20px 0;
}
/*No.02*/
.section2{
	background:#f6f8f9;
}
.section2 .row li>i{
	display:block;
	width:130px;
	height:130px;
	background:#b6d5ff url("../images/icon.png") no-repeat;
	border-radius:50%;
	margin:0 auto;
}
.section2 .row li:first-child>i{
	background-position:-289px 27px;
}
.section2 .row li:nth-child(2)>i{
	background-position:-319px -71px;
}
.section2 .row li:nth-child(3)>i{
	background-position:-289px -177px;
}
.section2 .row li:nth-child(4)>i{
	background-position:-289px -291px;
}
.section2 .row li:not(:last-child):after{
	content:'';
	position:absolute;
	right:0;
	top:15%;
	border-right:3px solid #ccc;
    border-top:3px solid #ccc;
    height:24px;
    width:24px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
	z-index:1;
}
.section2 .row li>div:last-child i{
	display:block;
	border-right:3px solid #ccc;
    border-top:3px solid #ccc;
    height:24px;
    width:24px;
    margin:10px auto 0;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}
@media (max-width:767px){
	.section2 .row li:not(:last-child):after{
		display:none;
	}
}
/*No.03*/
.section3 .row li{
	padding:0 30px 20px;
}
.section3 .row li input,
.section3 .row li select,
.section3 .row li button
{
	width:100%;
	height:50px;
	outline:none;
	padding:5px 15px;
	border:1px solid #ccc;
}
.section3 .row li button{
	color:#fff;
	border:none;
	border-radius:5px;
	background:#00aaff;
}
@media (max-width:415px){
    .section3 .row li{
		padding:0 0 15px;
	}
}