.banner>img:first-child{
	width:100%;
}
.banner>img:nth-child(2){
	position:absolute;
	left:0;
	right:0;
	bottom:-22%;
	margin:auto;
	width:30%;
	height:auto;
	z-index:1;
}
.section h3.title{
	padding-bottom:70px;
}
@media (max-width:991px){
	.section h3.title{
		padding-bottom:50px;
	}
}
@media (max-width:767px){
	.section h3.title{
		padding-bottom:30px;
	}
}
/*NO.01*/
@media (max-width: 767px) {
    .section1{
		margin-top:40px;
	}
}
@media (min-width: 768px) {
    .section1{
		margin-top:80px;
	}
}
@media (min-width: 768px) {
    .section1{
		margin-top:80px;
	}
}
@media (min-width: 992px) {
    .section1{
		margin-top:100px;
	}
}
@media (min-width: 1200px) {
    .section1{
		margin-top:150px;
	}
}
@media (min-width: 1850px) {
    .section1{
		margin-top:200px;
	}
}
.section1 .row li i{
	display:block;
	width:80px;
	height:80px;
	background:url("../images/icon.png") no-repeat;
	margin:0 auto;
}
.section1 .row li:first-child i{
	background-position:0 0;
}
.section1 .row li:nth-child(2) i{
	background-position:0 -89px;
}
.section1 .row li:nth-child(3) i{
	background-position:0 -177px;
}
.section1 .row li:nth-child(4) i{
	background-position:0 -266px;
}
.section1 .row li>div{
	padding:10px 15px 0;
	background:#ebf0fc;
}
.section1 .row li>div .describe{
	height:110px;
}
@media (max-width: 991px) {
    .section1 .row li{
		margin-bottom:30px;
	}
}
/*NO.02*/
.section2>div:nth-child(2){
	background-color:#024c87;
    overflow: hidden;
}
.section2>div:nth-child(2)>.container{
	position:relative;
	background:url("../images/bg-2-1.png") center/cover no-repeat;
}
.section2 .part-lf{
	display:inline-block;
}
.section2 .part-lf li{
	width:260px;
	padding:50px 0 50px 15px;
	background:#035291;
}
.section2 .part-lf li:after{
	content:"";
	position:absolute;
	bottom:0;
	left:0;
	right:0;
	margin:auto;
	width:88.5%;
	height:1px;
	background:#005ca6;
	z-index:1;
}
.section2 .part-lf li.current{
	background:#3860F4;
}
.section2 .part-lf li i{
	position:relative;
	display:inline-block;
	width:45px;
	height:45px;
	margin-right:15px;
	background:url("../images/icon.png") no-repeat;
}
.section2 .part-lf li:first-child i{
	background-position:-120px 5px;
}
.section2 .part-lf li:nth-child(2) i{
	background-position:-120px -67px;
}
.section2 .part-lf li:nth-child(3) i{
	background-position:-120px -137px;
}
.section2 .part-lf li:nth-child(4) i{
	background-position:-120px -209px;
}
.section2 .part-lf li i:after{
	content:"";
	position:absolute;
	top:0;
	right:-10px;
	width:1px;
	height:45px;
	background:#fff;
	z-index:1;
}
.section2 .part-lf li div{
	display:inline-block;
}
.section2 .part-rt{
	position:absolute;
	top:0;
	bottom:0;
	right:0;
	left:0;
	margin:19% auto 0;
	width:425px;
	height:1px;
	z-index:1;
}
.section2 .part-rt li:not(:first-child){
	display:none;
}
.section2 .part-rt li>p{
	line-height:normal;
}
.section2 .part-rt li>div{
	line-height:28px;
	padding-top:10px;
	text-align:justify;
}
.section2 .part-rt li>img{
	position:absolute;
	top:-180px;
	left:360px;
	max-width:none;
	z-index:1;
}
.section2 .part-phone li>div:first-child{
	position:relative;
}
.section2 .part-phone li>div:first-child img:first-child{
	width:100%;
}
.section2 .part-phone li>div:first-child img:nth-child(2){
    position: absolute;
    top: 17%;
    left: 0;
    right: 0;
    bottom: 0;
    width: 60%;
    height: auto;
    margin: auto;
    z-index: 1;
}
.section2 .part-phone li>div:nth-child(2){
	padding:50px 40px;
}
.section2 .part-phone li>div:nth-child(2)>div:first-child i{
    position: relative;
    float:left;
    display: block;
    width: 39px;
    height: 39px;
    margin-right: 15px;
    background:url("../images/icon.png") no-repeat;
}
.section2 .part-phone li:first-child>div:nth-child(2)>div:first-child i{
    background-position:-495px 1px;
}
.section2 .part-phone li:nth-child(2)>div:nth-child(2)>div:first-child i{
    background-position:-495px -70px;
}
.section2 .part-phone li:nth-child(3)>div:nth-child(2)>div:first-child i{
    background-position:-495px -141px;
}
.section2 .part-phone li:nth-child(4)>div:nth-child(2)>div:first-child i{
    background-position:-496px -211px;
}
@media (max-width:991px){
	.section2 .part-phone li>div:nth-child(2)>div span{
		font-size:18px;
	}
	.section2 .part-phone li>div:nth-child(2){
		padding:40px;
	}
}
/*NO.03*/
.section3 .row li{
	line-height:normal;
}
.section3 .row li span{
	font-size:56px;
	font-family:custom;
}
.section3 .row li p{
	padding:18px 0 20px;
}
.section3 .row li:not(:last-child):before{
	content:'';
	position:absolute;
	top:0;
	right:0;
	width:1px;
	height:50%;
	background:linear-gradient(to top, #3860f4, transparent);
}
.section3 .row li:not(:last-child):after{
	content:'';
	position:absolute;
	top:50%;
	right:0;
	width:1px;
	height:50%;
	background:linear-gradient(to bottom, #3860f4, transparent);
}
@media (max-width:991px){
	.section3 .row li:nth-child(2):before,
	.section3 .row li:nth-child(2):after{
		display:none;
	}
}
@media (max-width:767px){
	.section3 .row li{
		margin-bottom:15px;
	}
	.section3 .row li p{
		padding:5px 0;
	}
	.section3 .row li span{
		font-size:38px;
	}
	.section3 .row li:before,
	.section3 .row li:after{
		display:none;
	}
}
/*NO.04*/
.section4{
	background-color:#024c87;
}
.section4 .row li{
	margin:15px 0;
}
.section4 .row li>div{
	background:#fff;
	line-height:100px;
	text-align:center;
}
.section4 .row li>div img{
	max-height:100%;
}
@media (max-width:991px){
	.section4 .row li>div{
		line-height:80px;
	}
}
@media (max-width:767px){
	.section4 .row li>div{
		line-height:60px;
	}
}
@media (max-width:415px){
	.section4 .row li>div{
		line-height:50px;
	}
}